.hiddenCartBtn{
  display: none;
}
#mm {
	display: block;
}
#mm:hover  .PIC, #mm:hover  .review, #mm:hover  #ATC{
	display: inline-block;
}
#mm:hover  .fa-flag{
}
.review{
  float: left;
  padding: 3%;
   display: none;
}
.PIC{
  font-size:24px;
  color:#fb6340;
  float: right;
  padding: 2%;
   display: none;
   margin-right: 1%;
}
.iconPrimary{
    padding: 3%;
}
.fa-star{
  font-size:14px;
  
}
.ni-favourite-28{
  color:#5e72e4;
}
.display2{
  padding-bottom: 2%;
}
.FIC{
  padding: 15%;
  margin: 10%;
}

.delivery-fast, .phone, .back, .payment{
  padding: 15%;
  color:#FB6340;
font-size:50px;
}
.display-4 .col-lg-12{
/* padding: 5%; */
}
.cat{
  float: right;
}
.leftside{
  padding: 10%;
  padding-top: 0%;
  margin-left: 10%;

}
.leftside .col-lg-12{
  padding: 0%;
  padding-top: 0%;
}

.leftsidestar .col-lg-12{
  padding-top: 0%;
}
.cardlifthover{
  margin-bottom: 10%;
}
.leftside .fa-star{
    font-size:18px;
}
.checked {
    color: #F39C12;
}
.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
    border-color: #FB6340;
  }
  .custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
        border-color: #FB6340;
  }
  .custom-control-input:checked ~ .custom-control-label::before {
    color: #fff;
    background-color: #FB6340;
    box-shadow: none;
}
.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
    background-color: #FB6340;
}
.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
      background-color: #FB6340;
}
.custom-control-input:checked ~ .custom-control-label::before {
    color: #fff;
      background-color: #FB6340;
    box-shadow: none;
}
.custom-control-input:checked ~ .custom-control-label::before {
    color: #fff;
      background-color: #FB6340;
    box-shadow: none;
}
.RD{
  padding-right:0%; bottom: 0px; right: 10px; position:absolute
}
.fa-th-list,.fa-th-large{
  font-size: 34px;
  color:#FB6340;
}
.grid2{
  padding-top: 5%;
}
.cardShadowHS{
  margin-bottom: 5%;
}
.productDis{
  line-height: 1; font-family: inherit; padding:5%;
}
.ProductNameLH,.ProductPriceLH{
  line-height: 0.9;
}

.Stars{
line-height: 0.6;
}
.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #FB6340;
}
.nav-pills .nav-link {
  color: #FB6340;
}
.product .fa-star{
  padding: 0%;
}
.rewiewArea{
  margin: 2%;
  padding:2%;
}
.reviewTab{
  margin-bottom: 5%;
}
.mutliSliderI{
  padding-left:30%; padding-top:10%
}
